<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
        <th width="60px"></th>
        <th>姓名</th>
        <th width="100px">座席号</th>
    </tr>
  </thead>
  <tbody>
  	{{if result.length == 0}}
	    <tr>
	        <td colspan="5" class="text-center">
	            <span class="fa fa-exclamation-circle fa-lg text-info"></span> <span>没有记录</span>
	        </td>
	    </tr>
	{{/if}}
	{{if result.length > 0}}
	    {{each(i,item) result}}
	    <tr>
	        <td><input type="radio" name="phone_transfer_infobox_agent_list_radio" val="${item.workno}" txt="${item.name}" ></td>
	        <td>${item.name}</td>
	        <td>${item.workno}</td>
	    </tr>
	    {{/each}}
	{{/if}}
  </tbody>
</table>
<nav class="text-right" id="phone_call_infobox_agent_list_pager"></nav>
