<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#ffffff;">×</span></button>
      <h5 class="modal-title"></h5>
    </div>
    <div aid="txt" class="text-center" style="
	    height: 90px;
	    padding: 0 15px;
	    display: table-cell;
	    vertical-align: middle;">
    </div>
    <div aid="btn" class="text-center padding-b-20px">
    </div>
  </div>
</div>
