<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
 	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
 	id="WebApp" 
 	version="2.4">
  <display-name>aPortal</display-name>
  <welcome-file-list>
  	<welcome-file>home.html</welcome-file>
  </welcome-file-list>
    <context-param>
    <param-name>resteasy.resources</param-name>
    <param-value>
    		com.huawei.agentconsole.ws.rest.AgentConfigure,
        	com.huawei.agentconsole.ws.rest.OnlineAgent,
			com.huawei.agentconsole.ws.rest.EventDispatcher,
			com.huawei.agentconsole.ws.rest.EventReceiver,
			com.huawei.agentconsole.ws.rest.VoiceCall,
			com.huawei.agentconsole.ws.rest.QueueDevice,
			com.huawei.agentconsole.ws.rest.QualityControl,
			com.huawei.agentconsole.ws.rest.Record,
			com.huawei.agentconsole.ws.rest.AgentGroup,
			com.huawei.agentconsole.ws.rest.ReportQuery
        </param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>
        com.huawei.agentconsole.ws.exception.ResteasyViolationExceptionMapper,
        com.huawei.agentconsole.ws.exception.UnrecognizedPropertyExceptionMapper,
        com.huawei.agentconsole.ws.exception.NotFoundExceptionMapper,
        com.huawei.agentconsole.ws.exception.JsonParseExceptionMapper
        </param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/resource/</param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.logger.type</param-name>
    <param-value>SLF4J</param-value>
  </context-param>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.huawei.agentconsole.startup.StartupListener</listener-class>
  </listener>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.huawei.agentconsole.ws.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/resource/*</url-pattern>
  </filter-mapping>
  
  <filter>
	<filter-name>TempFilter</filter-name>
	<filter-class>com.huawei.agentconsole.ws.filter.TempFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>TempFilter</filter-name>
	<url-pattern>/tempfile/*</url-pattern>
  </filter-mapping>
</web-app>